*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* section{
    width: 100%;
    padding: 4% 5%;
}

section .card{
    width: 29%;
    margin: 2%;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    
}
.card-img{
    position: relative;
}
.img-fluid{
    width: 100%;
}

.card span{
    position: absolute;
    background-color: #1C1E53;
    color: white;
    border-radius: 30px;
    top: 95%;
    right: 5%;
    padding: 0.5% 3%;
} */

table, th, td{
    border: 2px solid red;
}
table{
    border-collapse: collapse;
    width:90%;
}
th{
    width:30%;
}
tr:nth-child(odd){
    background-color: black;
    color:white;
}
tr:hover{
    background-color: #eee;
    color:red;
}
